#author{
    /*position: absolute;*/
    color: white;
    font-size: 10px;
}
.shepherd-cancel-icon{
    width: min-content;
}
.shepherd-element{
    top: 12px !important;
}
.descriere_departament{
    cursor: pointer;
}
.departament_description{
    top: 20px;
}
#form_tabel{
    background: #212529;
    color: white;
    padding-top: 16px;
}
label[for^=searchTerm]{
    width: 100%;
    margin-right: 10px;
}
#sortBy{
    height: 38px;
    border-radius: 7px;
    width: 100%;
}
button{
    color: white !important;
    width: 100%;
}
label[for^=sortBy] {
    width: 100%;
}

table{
    text-transform: capitalize;
}

td.descriere_departament{
    max-width: 185px;
}

#main{
    overflow: scroll;
}
#main::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
}
.fa-question-circle{
    padding-top: 18px;
    position: relative;
}
.classic_tabel,.salary{
    border: 1px solid grey !important;
}

@media( max-width: 600px){
    #form_tabel{
        position: fixed;
        /*bottom: 0;*/
        display: block !important;
        background: #212529;
        color: white;
    }
    .salary,.classic_tabel{
        color:white;
        cursor: pointer;
    }
    label{
        width: 100%;
    }
    button{
        width: 100%;
    }
    .all_data {
        margin-top: 154px !important;
    }
    .by_salary{
        margin-top: 178px !important;
    }
    .submit_button_with_icon{
        background: transparent;
        color: #212529;
        border: none;
        position: absolute;
        top: 23px;
        right: 12px;
        width: 40px;
        height: 40px;
    }
    input[type="search"]::-webkit-search-cancel-button{
        -webkit-appearance:none;

    }
}

thead{
    background: #212529;
    color: white;
}
